.App {
text-align: center;
background-color: #f0f0f0;
min-height: 100vh;
padding: 20px;
}

.title {
font-size: 2rem;
color: #333;
margin-bottom: 20px;
}

.model-section {
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 30px;
}

.model {
position: relative;
width: 250px;
}

.model-img {
width: 100%;
}

.glasses-overlay {
position: absolute;
top: 70px;
left: 55px;
width: 140px;
opacity: 0.8;
}

.glasses-info {
    position: absolute;
    top: 200px; /* Điều chỉnh vị trí từ trên xuống */
    left: 0;
    width: 100%;
    background: rgba(255, 165, 0, 0.8);
    color: white;
    padding: 0; /* Giảm padding để làm gọn lại */
    text-align: left;
    border-radius: 5px;
    font-size: 12px; /* Giảm kích thước font */
}

